@import url('https://fonts.googleapis.com/css2?family=Salsa&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: black;
  color: white;
}
.salsa-regular {
  font-family: "Salsa", cursive;
    font-weight: 400;
    font-style: normal;
  }
  h1{
    font-size: 60px;
    font-weight: 900;
    color: #E3694C;
    font-family: "Salsa", cursive;
  }
  .icon{
    transition: all .5s ease-in-out;

  }
  .icon-wrapper:hover .icon {
    transform: scale(1.2, 1.2);
    transition: all .5s ease-in-out;
  }
  @media only screen and (max-width: 600px){
    h1{
      font-size: 45px;
      line-height: 1;
    }
  }
  